.btn {
    display: inline-flex;
    align-items: center;
    /* Aligner l'icône et le texte */
}

.btn-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    /* Espace entre l'icône et le texte */
}

.btn-icon-img {
    width: 16px;
    /* Ajuste la taille de l'icône */
    height: 16px;
}